Repository nanoframework/nanoFramework.IoT.Device, pull requests merged in 2022-12, with the labels that each got.

#669 [Ft6xx6x] Check for GPIO open
  devices/Ft6xx6x/samples/Program.cs
Labels: Type: bug

#671 Pipeline improvements in BinaryPrimitives
  src/BinaryPrimitives/BinaryPrimitives.sln
  src/DummyBinaryPrimitivesProject/DummyBinaryPrimitivesProject.nfproj
  src/DummyBinaryPrimitivesProject/DummyClass.cs
  src/DummyBinaryPrimitivesProject/Properties/AssemblyInfo.cs
  src/DummyBinaryPrimitivesProject/packages.config
  tests/BinaryPrimitivesUnitTests/BinaryPrimitivesTests.cs
  tests/BinaryPrimitivesUnitTests/BinaryPrimitivesUnitTests.nfproj
Labels: Area: Config-and-Build

#550 [SSD1306] Adding support for SSD1306 OLED display with 7-pin I2C/SPI V2
  devices/Ssd13xx/README.md
  devices/Ssd13xx/Ssd1306.cs
  devices/Ssd13xx/Ssd1306_I2C_SPI_back.jpg
  devices/Ssd13xx/Ssd1306_OLED_128x64_I2C_SPI.fzz
  devices/Ssd13xx/Ssd1306_OLED_128x64_I2C_SPI.png
  devices/Ssd13xx/Ssd13xx.cs
  devices/Ssd13xx/Ssd13xx.nfproj
  devices/Ssd13xx/Ssd13xx.nuspec
  devices/Ssd13xx/packages.config
  devices/Ssd13xx/packages.lock.json
  devices/Ssd13xx/samples/Program.cs
  devices/Ssd13xx/samples/Ssd13xx.Samples.nfproj
  devices/Ssd13xx/samples/packages.config
  devices/Ssd13xx/samples/packages.lock.json
  devices/Ssd13xx/version.json
Labels: Type: Documentation, Type: enhancement

#691 [Multiplexing] Move multiplexing unit tests to device folder
  devices/Multiplexing/Iot.Device.Multiplexing.UnitTests/Iot.Device.Multiplexing.UnitTests.nfproj
  devices/Multiplexing/Iot.Device.Multiplexing.UnitTests/OutputSegmentTests.cs
  devices/Multiplexing/Iot.Device.Multiplexing.UnitTests/Properties/AssemblyInfo.cs
  devices/Multiplexing/Iot.Device.Multiplexing.UnitTests/packages.config
  devices/Multiplexing/Iot.Device.Multiplexing.UnitTests/packages.lock.json
  devices/Multiplexing/Multiplexing.sln
Labels: Area: Config-and-Build, Type: Unit Tests
